<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Geo&family=Tomorrow:wght@300;400&display=swap" rel="stylesheet">
    <title>Rolls Royce</title>
</head>
<body>
    <header>
        <a href="#">Home</a>
        <a href="#">Models</a>
            <div id="logo">
                <a href=""><img src="/resources/images/rolls-royce-2.svg" alt=""></a>
            </div>
        <a href="#">About</a>
        <a href="#">Buy</a>
    </header>

    <footer>
        <a href="#">Brand</a>
        <a href="#">Spirit of ecstasy</a>
        <a href="#">Technology</a>
        <a href="#">Resources</a>
    </footer>
</body>
</html>