#logo img{
    width: 25px
}
header, footer{
    height: 50px;
    width: 100%;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}
footer{
    bottom: 0;
    position: fixed;
}
footer:hover{
    background-color: rgba(0, 0, 0, 1);
}
header a, footer a{
    font-size: clamp(15px, 1vw, 1.5vw);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.1s;
}
header a:hover, footer a:hover{
    color: white;
    transform: scale(1.2);
}