*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Chathura';
}
/*bg*/
.video{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    width: 100vw;
    height: 100vh;
}
.bg-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: all 3s;
}
video{
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}
/*content container*/
.container{
}
